-#  Cryptopus and licensed under the Affero General Public License version 3 or later.
-#  See the COPYING file at the top-level directory or at
-#  https://github.com/puzzle/cryptopus.

%div
  - strength = PasswordStrength.test(username, password)
  - if strength.status == :weak || strength.status == :invalid
    =image_tag 'weak.png', id: 'password_strength'
    %strong= t 'password_strength.weak'
  - elsif strength.status == :good
    =image_tag 'good.png', id: 'password_strength'
    %strong= t 'password_strength.good'
  - elsif strength.status == :strong
    =image_tag 'strong.png', id: 'password_strength'
    %strong= t 'password_strength.strong'

-# strength = PasswordStrength.test(@account.cleartext_username, @account.cleartext_password)
